<div class="row">
	<div class="col">
		<div class="card" id="indexcard">
			<div class="card-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat consectetur nunc ullamcorper consequat. Donec quis laoreet massa, in viverra nibh. Vivamus bibendum consectetur erat, eget pharetra arcu. Morbi dictum pharetra ex, eget laoreet arcu ornare eu. Etiam et ipsum arcu. 
			</div>
		</div>
	</div>
</div>