<div class="row">
	<div class="mx-auto mb-2 mt-2 btn-group" role="group" aria-label="Toolbar">
		<button type="button" class="btn custom-btn btn-responsive" title="Sort ascending" aria-label="Sort ascending" onclick="sortSightingsByDateTime(true)">
			<span class="oi oi-sort-ascending"></span></button>
		<button type="button" class="btn custom-btn btn-responsive" title="Add sighting" aria-label="Add sighting" data-toggle="collapse" data-target="#add-row" aria-expanded="false" aria-controls="add-row" onclick="resetForm()">
			<span class="oi oi-eye"></span></button>
		<button type="button" class="btn custom-btn btn-responsive" title="Sort descending" aria-label="Sort descending" onclick="sortSightingsByDateTime(false)">
			<span class="oi oi-sort-descending"></span></button>
	</div>
</div>

<div id="add-row" class="row justify-content-center collapse">
	<div class="col mx-auto mb-2 mt-2">
		<form id="sighting-form">
			<div class="form-row">
				<div class="form-group col-md">
					<label for="species-select">Duck species</label>
					<select id="species-select" class="custom-select form-control" required>
						<option value="" selected>Select species</option>
						<option value="mallard">mallard</option>
						<option value="redhead">redhead</option>
						<option value="gadwall">gadwall</option>
						<option value="canvasback">canvasback</option>
						<option value="lesser scaup">lesser scaup</option>
					</select>
				</div>
				<div class="form-group col-md">
					<label for="date">Sighting date and time</label>
					<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
	                    <input id="date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" required>
	                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
	                        <div class="input-group-text">
	                        	<i class="oi oi-calendar"></i>
                        	</div>
	                    </div>
                	</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md">
					<label for="description">Description</label>
					<textarea id="description" class="form-control" rows="3" placeholder="Description" required></textarea>
				</div>
				<div class="form-group col-md">
					<div class="mb-2">
						<label for="count">Number of ducks</label>
						<input id="count" class="form-control" type="number" name="count" min="1" placeholder="0" required>
					</div>
					<div>
						<button type="submit" class="btn custom-btn" title="Save sighting" aria-label="Save sighting">
							Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="card-columns" id="sighting-cards">
			<div class="card">
				<div class="card-body">
					Fetching sightings...
				</div>
			</div>
		</div>
	</div>
</div>

<script id="card-template" type="text/x-handlebars-template">
	\{{#sightings}}
	<div class="card">
		<h5 class="card-header text-muted">Sighting</h5>
		<div class="card-body">
			<h5 class="card-title text-capitalize">\{{species}}</h5>
			<p class="card-text">\{{description}}</p>
			<p class="card-text text-muted"># of ducks: \{{count}}</p>
			<p class="card-text text-muted">\{{formatDateTime dateTime}}</p>
		</div>
	</div>
	\{{/sightings}}
</script>