<div class="row">
	<div class="col">
		<div class="card" id="species-card">
			<div class="card-body">
				Fetching species...
			</div>
		</div>
	</div>
</div>

<script type="text/x-handlebars-template" id="species-template">
	<div class="card-header">
		Species
	</div>
	<ul class="list-group list-group-flush">
	\{{#species}}
		<li class="list-group-item text-capitalize">\{{name}}</li>
	\{{/species}}
	</ul>
</script>