<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Duck sighting</title>
</head>
<body>

    {{{body}}}

    <script src="/js/handlebars.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/js/scripts.js"></script>

    <script type="text/javascript">
    	"use strict";
    	$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'oi oi-clock',
                date: 'oi oi-calendar',
                up: 'oi oi-chevron-top',
                down: 'oi oi-chevron-bottom',
                previous: 'oi oi-chevron-left',
                next: 'oi oi-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'oi oi-delete',
                close: 'oi oi-x'
            } });
		$('#datetimepicker1').datetimepicker({
			format: "D.M.Y H:mm"
		});
		$('#sighting-form').submit( (event) => {
			event.preventDefault();
			postSighting();
		});
		$(document).ready(() => {
			Handlebars.registerHelper("formatDateTime", (rawDate) => {
				return new Handlebars.SafeString(moment(rawDate).format("dddd, MMMM Do YYYY, H:mm"));
			});
		});
    </script>
</body>
</html>