<div class="container-fluid">
	<nav class="navbar navbar-expand-md navbar-fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pagenav" aria-expanded="false" aria-controls="pagenav">
			<span class="oi oi-menu"></span>
		</button>
		<div class="collapse navbar-collapse" id="pagenav">
			<ul class="nav nav-tabs navbar-nav nav-justified flex-column flex-md-row container-fluid">
				<li class="nav-item">
					<a href="#home" class="nav-link active" title="Home" data-toggle="tab" role="tab">
						<span class="oi oi-home"></span> Home</a>
				</li>
				<li class="nav-item">
					<a href="#sightings" class="nav-link" title="Sightings" data-toggle="tab" role="tab" onclick="fetchSightings()">Sightings</a>
				</li>
				<li class="nav-item">
					<a href="#species" class="nav-link" title="Species" data-toggle="tab" role="tab" onclick="fetchSpecies()">Species</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="tab-content" id="content-container">
		<div id="home" class="container-fluid tab-pane active show fade">
			{{> index}}
		</div>
		<div id="sightings" class="container-fluid tab-pane fade">
			{{> sightings}}
		</div>
		<div id="species" class="container-fluid tab-pane fade">
			{{> species}}
		</div>
	</div>
</div>