/*Styles for navigation*/
.navbar {
	border: 0;
	background-color: #00ccff;
	padding: .3rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: -10px;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tab-content {
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1rem;
	border-radius: 5px;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs .nav-link {
	margin: .5rem;
}
.nav-tabs .nav-link.active {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	border-color: rgba(255,255,255,0.2);
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-color: transparent;
}
/*Styles for buttons*/
.custom-btn {
	background-color: #00ccff;
	padding: .8rem 3rem;
}
.btn:hover, .btn:focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn.active {
	background-color: #4ddbff;
	color: #fff;
}
@media(max-width: 400px) {
	.btn-responsive {
		padding: .4rem 1rem;
	}
}
/*Styles for overall pagecontent*/
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}